*,
*::before,
*::after {
  box-sizing: border-box;
}

$breakpoints: (
  xs: 32rem,
  sm: 48rem,
  md: 72rem,
  lg: 96rem,
  xl: 102rem,
  xx: 120rem,
);

@mixin break($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

$numberOfColumns: 12;

.grid-container {
  padding: 0px 20%;
  @media (max-width: 32rem) {
    padding: 0px 1%;
  }
}

.grid {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}

.grid-item {
  padding: 0.5rem;

  &:nth-child(even) {
    background-color: #eee;
  }

  &:nth-child(odd) {
    background-color: #ddd;
  }
}

// loop over the breakpoints
@each $key, $value in $breakpoints {
  @for $i from 1 through $numberOfColumns {
    .grid-item-#{$key}-#{$i} {
      flex: 0 0 100%;
      @include break($key) {
        flex: 0 0 #{$i / $numberOfColumns * 100%};
      }
    }
  }
}
